html, body {
  height: 100%;
  margin: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 800px;
}

.main-content .table-container {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 20px;
}

.custom-div h2 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 223px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
}

.custom-div h2:before {
  background-color: #1b5f5a;
  content: '';
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}

.custom-div h2:after {
  background-color: #1b5f5a;
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 75px;
  margin-bottom: 0.25em;
}

footer {
  background-color: #343a40; /* Adjust as needed */
  color: #fff;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

h2 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

table {
  margin-top: 20px;
}

button {
  margin-right: 5px;
}
