<app-nav></app-nav>

<div class="container mt-5">
  <h2 class="text-center mb-4">Product List</h2>

  <input [(ngModel)]="searchQuery" (input)="searchProducts()" type="text" class="form-control mb-4" placeholder="Search products">





  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantite</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.nom }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.prix | currency }}</td>
        <td>{{ product.quantite }}</td>
        <td>
          <button [routerLink]="['/update', product.id]" class="btn btn-warning btn-sm">Update</button>
          <button (click)="deleteProduct(product.id)" class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
